:root{
    --primary : #fefefe;
    --second : #C48E4C ;
    --a-color : black ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap_par_outils h1{
    text-align: center;
}
.wrap_outils{
    padding: 20px 80px;
}
.par_outils{
    text-align: center;
   
}
.par_outils{
    margin-top: 10px;
}
.wrap_simul{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* changement */

.wrap_simul .simul{
    width:  100%;
    height: 400px;
    border: 1px solid black;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.net_yet{
    display: none;
}

.wrap_simul .simul_form {
    width: 450px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.form-container{
    position: relative;
    width: 450px;
    padding: 20px;
    
}
.wrap_simul .simul form input[type=number]{
    width: 60px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    outline: none;
    border: 2px solid black;
    
}
.wrap_simul .simul form label{
    font-weight: bold;
    margin-left: 20px;
}
.wrap_simul .simul form .rangeinput{
    position: relative;

    
}
.wrap_simul .simul form .rangeinput input[type=range] {
    width: 104%;
    height: 10px;
    appearance: none;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    
}

.wrap_simul .simul form .rangeinput .range-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background-color: var(--second); 
    border-radius: 5px;
    margin-top: 10px;
    z-index: 2;
    
} 
.wrap_simul .simul form input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--second);
    z-index: 100;
    cursor:pointer;
}
.btn_calcul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.btn_calcul button{
    width: 80%;
    font-size: 25px;
    background-color: #C48E4C;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.result {
    border: 1px solid black;
    width: 450px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result .result_contain .btn_result_lance{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.result .result_contain .btn_result_lance button{
    padding: 8px 10px;
    background-color: var(--second);
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.calcul{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.calcul .fiche , 
.calcul .Schema_outils{
    width:  500px;
    height: 450px;
    border: 1px solid black;
    
    

}
.calcul .fiche {
    padding: 20px 30px;
   
} 
.calcul .fiche ul li{
    display: flex;
    align-items:center ;
    justify-content: space-between;
}
