:root{
    --primary : #fefefe;
    --second : #C48E4C ;
    --a-color : black ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primary);
}
/* sommaire */
.wrap_sommaire{
    width: 150px;
    height: 500px;
    position: fixed;
    top: 100px;
    background-color: #fefefe;
}
.wrap_sommaire .sommaire ul li{
    padding: 8px 12px;
    border-left: 1px solid var(--second);
    margin: 10px 0;
    cursor: pointer;
}
.wrap_sommaire .sommaire ul li:hover{
    color: var(--second);
}
.wrap_sommaire .sommaire ul{
    list-style: none;
}
/* sommaire */
.wrap_portage{
    width: 87%;
    background-color: var(--primary);
    position: relative;
    float: right;
    
    
}
.wrap_portage h2{
    text-align: center;
}
.wrap_portage h1:first-child{
    text-align: center;
}
.portage_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--primary);
    
}
.portage_container .portage_par ,
.portage_container .video_part 
{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.portage_container .video_part iframe{
    width: 550px;
}
.portage_container .portage_par{
    font-size: 20px;
}
.portage_container .btn_portage{
    position: absolute;
    bottom: 20px;
    right: 20px;
    
}
.portage_container .btn_portage button{
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 20px;
    background-color: var(--second);
    outline: none;
    border: none;
}


/* tabs */

.bloc-tabs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: justify;
    font-size: 18px;

}

.bloc-tabs .tabs{
    cursor: pointer;
    width: calc(100% / 3);
    text-align: center;
    padding: 8px 12px ;
    margin: 0 3px;
    background-color: gainsboro;
    font-weight: bold;
   
}
.active_tab {
    padding: 8px 12px  ;
    background-color: #C48E4C;
    border-bottom: 2px solid var(--second);
    width: calc(100% / 3);
    margin: 0 3px;
    text-align: center;
    font-weight: bold;

}

/* contrat tabs */

.contrats{
    cursor: pointer;
    width: calc(100% / 2);
    text-align: center;
    font-weight: bold;
}

.active_contrat{
    padding: 8px 12px;
    background-color: #C48E4C;
    width: calc(100% / 2);
    text-align: center;
    font-weight: bold;

}
/* contrat tabs */

.active_content ,
.active_cont_contrat{
   display: block;
}
.contents ,
.cont_contrats{
    display: none;  

}
.content ,
.cont_contrat {
    padding: 20px;
}

/* tabs */

.wrap_part_intervenants{
    padding: 0 100px;
}
.part_intervenants{
    margin: 20px 0;
    border-top: none;
    border: 2px solid gainsboro; 
}



.def_portage{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.def_portage div{
    margin: 0 10px;
    font-size: 18px;
    height: 400px;
}
.def_portage div p{
    margin-top: 20px;
}
.def_portage div ul li{
    margin-left: 40px;
}

/* contrat */
.wrap_type_contrat{
    border: 2px solid gainsboro;
    margin-top: 20px;
}
.les_type_contrats{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;

}
.contrat{
    border: 2px solid gainsboro;
    cursor: pointer;
}

/* objectif */
.wrap_objectif{
    margin: 20px 0;
    padding: 20px;

}

/* international */
.wrap_international{
    margin: 20px 0;
    padding: 20px;

}



/* remuneration */
.wrap_remuneration{
    margin-top: 20px;
}
.wrap_remuneration h2{
    text-align: center;
}

