:root{
    --primary : #fefefe;
    --second : #c48e4c ;
    --a-color : black ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primary);
}
.wrap_who{
    padding: 20px 80px;
    background-color: var(--primary);
}
.wrap_who .wrap_jobs{
    width: 100%;
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap_who .jobs{
    width: 90% ;
    display: grid;
    grid-template-columns: repeat(3 , 300px);
    gap: 30px;
}
.wrap_who .jobs .it{
    width: 300px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 10px;
    
}
.wrap_who .jobs .it p{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.wrap_who .jobs img{
    width: 300px;
    height: 200px;
}