:root{
  --primary : black;
  --second : #C48E4C ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fefefe;
  padding: 0 20px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navbar .logo img{
  width: 140px;
  height: 30px;
}
.navbar .link ul{
  list-style: none;
}
.navbar .link ul li{
  display: inline-block;
  padding: 0 8px;
}
.navbar .link ul li a{
  text-decoration: none;
  color: var(--primary);
}
.navbar .connexion_part {
  display: flex;
  
}
.navbar .connexion_part .inscription button{
  background-color: var(--second);
  color: #fefefe;
  padding:  8px 10px ;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  outline: none;

}
.navbar .connexion_part .connexion button{
  padding:  8px 10px ;
  border-radius: 10px;
  margin-right: 8px;
  border: 1px solid var(--primary);
  cursor: pointer;
  outline: none;

}
