:root{
  --primary : #fefefe;
  --second : #C48E4C ;
  --a-color : black ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fefefe;
  padding: 0 20px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: sticky;
}
.navbar.sticky {
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* Couleur de fond de la barre de navigation */
  z-index: 100;
  
}





.navbar .logo img{
  width: 140px;
  height: 30px;
}
.navbar .link ul{
  list-style: none;
}
.navbar .link ul li{
  display: inline-block;
  padding: 0 8px;
}
.navbar .link ul li a{
  text-decoration: none;
  color: var(--a-color);
}
.navbar .connexion_part {
  display: flex;
  
}
.navbar .connexion_part .inscription button{
  background-color: var(--second);
  color: #fefefe;
  padding:  8px 10px ;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  outline: none;

}
.navbar .connexion_part .connexion button{
  padding:  8px 10px ;
  border-radius: 10px;
  margin-right: 8px;
  border: 1px solid var(--second);
  background-color: var(--primary);
  cursor: pointer;
  outline: none;

}

/* Accueil */
.wrap_accueil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.wrap_accueil .wrap .image{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap_accueil .wrap .contain h1{
  font-size: 40px;
}

.wrap_accueil .wrap .contain , 
.wrap_accueil .wrap .image {
  height: 85vh;
  width: 600px;
  display: flex;
  align-items: center;
  position: relative;
}
.wrap_accueil .wrap .contain .btn_contain{
  position: absolute;
  bottom: 30px;
  right: 20px;
}
.wrap_accueil .wrap .contain .btn_contain button{
  padding: 8px 10px;
  background-color: #C48E4C;
  color: var(--primary);
  font-size: 22px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}
.chiffre{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Partie eligibilité */
.main{
  height: 100vh;
}
.eligible{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.eligible .card {
  width: 400px;
  height: 300px;
  padding: 10px;
  box-shadow: 10px 10px 10px gray;
}
.wrap_eligible{
  width: 100%;
  position: relative;
  margin: 20px 0;

}
.wrap_eligible  .eligible_title{
  text-align: center;
  margin: 15px 0;
}

.wrap_eligible .icon_eligible h1 {
  color: #C48E4C;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: auto;
  font-size: 38px;


}
.wrap_eligible  .card .card_img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wrap_eligible  .card p , 
.wrap_eligible  .card h2 {
  margin-top: 10px;
}