:root{
  --primary : #fefefe;
  --second : #C48E4C ;
  --a-color : black ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fefefe;
opacity: 1;
background-image: radial-gradient(#C48E4C 0.5px, #fefefe 0.5px);
background-size: 10px 10px;
  padding: 0 20px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  background-color: var(--primary);
}
.navbar.sticky {
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fefefe ; 
  z-index: 1000;
  
}

.navbar .logo img{
  width: 140px;
  height: 30px;
}
.navbar .link ul{
  list-style: none;
}
.navbar .link ul li{
  display: inline-block;
  padding: 0 8px;
}
.navbar .link ul li a{
  text-decoration: none;
  color: var(--a-color);
}
.navbar .connexion_part {
  display: flex;
  
}
.navbar .connexion_part .inscription button{
  background-color: var(--second);
  color: #fefefe;
  padding:  8px 10px ;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  outline: none;

}
.navbar .connexion_part .connexion button{
  padding:  8px 10px ;
  border-radius: 10px;
  margin-right: 8px;
  border: 1px solid var(--second);
  background-color: var(--primary);
  cursor: pointer;
  outline: none;

}

/* Accueil */
.wrap_accueil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
}
.wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.wrap_accueil .wrap .image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  position: relative;
}

.wrap_accueil .wrap .image div img{
  width: 450px;
  height: 480px;
  
  
}
.wrap_accueil .wrap .image .englobe_img .free ,
.wrap_accueil .wrap .image .englobe_img .salarié
{
  position: absolute;
  background-color:hsl(33, 54%, 71%);
  padding: 20px;
  font-weight: bold;
  border-radius: 25% 10%;
  
}
.wrap_accueil .wrap .image .englobe_img .bubble{
  width: 350px ;
  height: 350px;
  border-radius: 50%;
  background-color: #C48E4C;
  position: absolute;
  z-index: -1;
  top: 140px;



}
.wrap_accueil .wrap .image .englobe_img .free{
  top: 230px;
  left: 70px;

}
.wrap_accueil .wrap .image .englobe_img .salarié{
  top: 180px;
  right: 70px;

}
.wrap_accueil .wrap .contain h1{
  font-size: 40px;
}

.wrap_accueil .wrap .contain , 
.wrap_accueil .wrap .image {
  height: 85vh;
  width: 600px;
  display: flex;
  align-items: center;
  position: relative;
}
.wrap_accueil .wrap .contain .btn_contain{
  position: absolute;
  bottom: 30px;
  right: 20px;
}
.wrap_accueil .wrap .contain .btn_contain button{
  padding: 8px 10px;
  background-color: #C48E4C;
  color: var(--primary);
  font-size: 22px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}
.contact{
  position: fixed;
  bottom: 5px;
  left: 0px;
  width: 45px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}
.contact ul li img{
  width:  45px;
  height: 45px;
  padding: 5px;
  border-radius: 5px;

}
/* chatbot */

.chatbot{
  position: fixed;
  bottom: 10px;
  right: 5px;
}
.chatbot img{
  width: 45px;
  height: 45px;
  z-index: 1000;
  cursor: pointer;
}


/* chiffre */
.chiffre{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #C48E4C;
  padding: 20px;
  border-radius: 10px;
  color: var(--primary);
  margin-top: 30px;
}
.chiffre div{
  text-align: center;
}


/* Partie eligibilité */

.eligible{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 40px 0;
}
.eligible .card {
  width: 350px;
  height: 300px;
  padding: 10px;
  border-radius: 50px;
background: white;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.wrap_eligible{
  width: 100%;
  position: relative;
  margin: 20px 0;

}
.wrap_eligible  .eligible_title{
  text-align: center;
  margin: 15px 0;
}

.wrap_eligible .icon_eligible h1 {
  color: #C48E4C;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: auto;
  font-size: 38px;


}
.wrap_eligible  .card .card_img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wrap_eligible  .card p , 
.wrap_eligible  .card h2 {
  margin-top: 10px;
}

/* fonctionnement */
.wrap_fonctionnement , .fonc{
  width: 100%;
  position: relative;
  margin: 20px 0;
}
.wrap_fonctionnement , .fonc p{
  text-align: justify;
}
.wrap_fonctionnement , .fonc ul{
  margin-left: 20px;
}
.wrap_fonctionnement h1{
  text-align: center;
}
.wrap_fonctionnement  .fonc{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.wrap_fonctionnement  .fonc .par_fonc ,
.wrap_fonctionnement  .fonc .img_fonc{
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pourquoi sentechs */
.wrap_pourquoi{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap_pourquoi .wrap_pourquoi_card{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  
}
.wrap_pourquoi .wrap_wrapper_pourquoi h1{
  text-align: center;
  margin: 25px;
}
.wrap_pourquoi .pourquoi_card{
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background: white;
  box-shadow: 10px 10px 30px #bebebe,
             -10px -10px 30px #ffffff;

}
.pourquoi_card div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.pourquoi_card img{
  width: 60px;
  height: 60px;
  
}

/* metiers */

.metiers{
  background-color: #C48E4C;
  margin: 40px 30px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.metiers .par_metiers, .metiers .temp_metiers{
  width: 550px;
  position: relative;
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.metiers .par_metiers h1{
  color: white;
  text-align: center;
}
.metiers .par_metiers p {
  color: white;
  font-size: 20px;
  text-align: justify;
  margin: 20px 0;
}
.metiers .temp_metiers .grid_metiers{
  display: grid;
  grid-template-columns: repeat(2 , 250px);
  gap: 20px;
  height: 450px;
  margin-top: -30px;
  
}
.metiers .temp_metiers .card_metiers{
  height: 200px;
  background-color: var(--primary);
  border-radius: 20px;
  border: 1px solid salmon;
  padding: 10px;
  position: relative;
}

.metiers .temp_metiers .autre_metiers{
  background-color: var(--primary);
  padding: 8px 10px;
  border: 1px solid #C48E4C;
  border-radius: 10px;
  font-size: 18px;
  width:250px;
  position: absolute;
  right: 10px;
  bottom:5px;
  cursor: pointer;

}
.metiers .temp_metiers .card_metiers img{
  width: 100%;
  height: 160px;
}
.metiers .temp_metiers .card_metiers .wrap_branche{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.metiers .temp_metiers .card_metiers .branche{
  padding: 20px 10px;
  background-color: var(--primary);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-top: -40px;
  width: 100%;
  font-size: 20px;

}


/* temoignages */

.temoignages{
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.temoignages h1{
  text-align: center;
}
.temoignages .wrap_temcards{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.temoignages .wrap_temcards .tem_cards{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;

}
.temoignages .wrap_temcards .tem_cards .tem_card{
  width: 250px;
  height: 250px;
  border: 1px solid var(--second);
  position: relative;
  padding: 0 5px;
}
.temoignages .wrap_temcards .tem_cards .tem_card p{
  text-align: center;
  font-weight: bold;
}
.temoignages  .tem_cards .tem_card .img_temcard{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position:absolute ;
  top: -30px;
  left: calc(50% - 30px);
  background-color: var(--primary);
  
}
.temoignages  .tem_cards .tem_card .img_temcard img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.temoignages  .tem_cards .tem_card .name_tem{
  margin-top: 40px;
}
.temoignages  .tem_cards .tem_card q{
  font-size: 15px;
  text-align: justify;
  
}
.temoignages  .rate_client{
  display: flex;
  align-items: center;
  justify-content: center;
}
.temoignages  .rate_client ul{
  display: flex;
  list-style: none;
}
.temoignages  .rate_client ul li{
  margin: 3px;
}
.temoignages  .rate_client ul li img{
  width: 20px ;
  height: 20px;
}
/* question */
.wrap_questions{
  padding: 0 30px;
  margin-top: 40px;
}
.wrap_questions h1{
  text-align: center;
}
.wrap_questions .questions{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrap_questions .questions .img_question 
{
  width: 550px;
  height: 450px;
  position: relative;


}
.wrap_questions .questions .par_question{
  width: 550px;
  position: relative;

}
.wrap_questions .questions .img_question img{
  width: 100%;
  height: 100%;
}
.wrap_questions  .par_question .question{
  padding: 30px;
  border: 1px solid var(--second);
  margin: 10px 0;
  font-size: 20px;
  border-radius: 20px;
}
.wrap_questions  .par_question .question div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.wrap_questions  .par_question .question img{
  width: 30px;
  height: 30px;
}

/* contact */

.wrapper_contact{
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.wrap_contact{
  width: 90%;
  border-radius: 20px;
  padding: 10px;
  

  
}
.wrap_contact .join_us{
  background-color: var(--second);
  border-radius: 20px;
  padding: 20px;
}
.wrap_contact .join_us h1{
  text-align: center;
  color: white;
  padding: 10px;
}
.wrap_contact .join_us .join_us_link ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  

}
.wrap_contact .join_us .join_us_link ul li{
  border-radius:20px;
  border: 1px solid white;
  background-color: #fefefe;
  text-align: center;
  width: 200px;
  height: 100px;
  display: flex;
  align-items:center;
  justify-content: center;
  

}
.wrap_contact .join_us .join_us_link ul li img{
  width: 40px ;
  height: 40px;
}







.wrap_contact .contact_us{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.wrap_contact .contact_us .par_contact {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.wrap_contact .contact_us .form_contact{
  margin-top: 20px;
  width:  50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  
}



.form_contact .nom_prenom ,
.form_contact .email_num{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.form_contact .nom_prenom input ,
.form_contact .email_num input{
  margin:10px 5px;
  width: 225px;
  height: 35px;
  display: block;
}
.form_contact label {
  padding-left:5px;
  font-size: 18px;
}
.form_contact .be_wrapcont{
 border: 2px solid var(--second);
 background-color: white;
 padding: 10px;
 border-radius: 10px;
 height: 90%;

}
.form_contact .motif{
  width: 100%;
}
.form_contact .motif ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.form_contact .motif ul li{
  border: 1px solid black;
  width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  margin: 5px;
  text-align: center;

}

.form_contact .motif ul li input[type=radio]{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;

}
.selected{
  background-color: var(--second);
}






.form_contact .areatext textarea{
  width: 98%;
  margin: 5px;
  display: block;
  height: 100px;

}
.form_contact .btn_form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  
}
.form_contact .btn_form button{
  padding: 8px  10px;
  font-size: 20px;
  background-color: var(--second);
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
}
.maps{
  width: 500px;
  height: 400px;
}
.mapname{
  font-weight: bold; 
  color:black;
  width:200px;
  display:inline-block;
}
.wrap_footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  background-color: var(--second);
  height: 400px;
  width: 95%;
  
}
/* key: "AIzaSyD4RaDc071sadY0BUdI0DiskKIX1T2pAaI" */